<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" th:fragment="menu">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/persona}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">FONABOSQUE <sup></sup></div>
    </a>

    <hr class="sidebar-divider my-0">
    <li class="nav-item">
        <a class="nav-link" th:href="@{/persona}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>
    <hr class="sidebar-divider">


    <!--<li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Components</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Components:</h6>
                <a class="collapse-item" href="buttons.html">Buttons</a>
                <a class="collapse-item" href="cards.html">Cards</a>
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
            aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Utilities</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Utilities:</h6>
                <a class="collapse-item" href="utilities-color.html">Colors</a>
                <a class="collapse-item" href="utilities-border.html">Borders</a>
                <a class="collapse-item" href="utilities-animation.html">Animations</a>
                <a class="collapse-item" href="utilities-other.html">Other</a>
            </div>
        </div>
    </li>-->
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Menus
    </div>
    

    <li class="nav-item">
        <a class="nav-link" th:href="@{/persona}">
            <i class="fas fa-fw fa-edit"></i>
            <span>Registro personas</span></a>
    </li>
    <!-- Nav Item - Tables -->
    
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
            aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-table"></i>
            <span>Personas po Año</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Personas por año:</h6>
                <th:block th:each="g:${gestiones}">
                    <a class="collapse-item" th:href="@{'/personaGestion/'+${g.id_gestion}}" th:text="${g.nombre_gestion}">Colors</a>
                </th:block>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/personasAll}">
            <i class="fas fa-fw fa-table"></i>
            <span>Todas las personas</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/Vmunicipio}">
            <i class="fas fa-fw fa-edit"></i>
            <span>Municipios</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/VLocalidad}">
            <i class="fas fa-fw fa-edit"></i>
            <span>Localidades</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/VEstadoPago}">
            <i class="fas fa-fw fa-edit"></i>
            <span>Estado de Pago</span></a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>